$max-width: 1200px;
$main-dark-color: #000F33;
$main-grey-color: #F8F8F8;
$main-blue-color: #2702FF;

@mixin HeadLine {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: $main-dark-color;
}


@mixin SmallGreyText {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #656C80;
}


@mixin SmallDarkText {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: $main-dark-color;
}
